.btn {
  cursor: pointer;
  width: 20rem;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s;
  border-radius: 0.5rem;
  border: none;
}
.btn-main {
  background-color: var(--text);
  color: var(--gray-bg);
  &:hover {
    background-color: var(--hover-text);
  }
}
.btn-outlined {
  background-color: var(--gray-bg);
  color: var(--text);
  border: 1px solid var(--text);
  &:hover {
    background-color: var(--hover-gray-bg);
  }
}
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem;
}
// margins
.margin-top-big {
  margin-top: 8rem;
}

.footer-mark {
  color: var(--text-light);
  margin-bottom: 1rem;
}
