@use "../styles/Mixin.scss" as mixin;

.document-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: 5% 1fr;
  gap: 1.5rem;
  @include mixin.respond(phone) {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.8rem;
  }
  .left-col {
    background-color: var(--background-color);
    display: flex;
    justify-content: flex-start;
    @include mixin.respond(phone) {
      justify-content: center;
      align-items: center;
    }
  }
  .main-col {
    border: 1px solid var(--line-color);
    max-width: 100%;
    height: auto;
    background-color: var(--gray-bg);
    padding: 2rem;
    border-radius: 0.5rem;
    width: inherit;
    word-break: normal;
    overflow-x: hidden;
    @include mixin.respond(phone) {
      padding: 0.5rem;
    }

    .post-image-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
    }

    .post-title {
      margin: 3rem 0;
      font-size: 4rem;
      font-weight: 800;
    }
    .image {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .right-col {
    display: flex;
    justify-content: flex-end;
  }
}
.author-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .name {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.3rem;
    border-radius: 0.5rem;
    &:hover {
      background-color: var(--gray);
      cursor: pointer;
    }
  }
  span {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
}
.reactions-container {
  position: fixed;
  top: 10rem;
  @include mixin.respond(phone) {
    position: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 5rem;
    margin-left: 0.5rem;
  }
}
.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  @include mixin.respond(phone) {
    margin-top: 0;
    flex-direction: row;
  }

  span {
    font-size: 1.5rem;
  }
  .comment {
    font-size: 2.5rem;
    transition: all 0.3s;
    &:hover {
      color: green;
      cursor: pointer;
    }
  }
}

.buttons-container {
  margin-left: auto;
  display: flex;
  gap: 3rem;
  font-size: 2.5rem;
}
.edit {
  transition: all 0.3s;
  &:hover {
    color: rgb(92, 92, 7);
    cursor: pointer;
  }
}
.delete {
  transition: all 0.3s;
  &:hover {
    color: red;
    cursor: pointer;
  }
}
.modal-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}
.modal-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
