.home-container {
  max-width: 115rem;
  margin: 8rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 33% 1fr;
  gap: 1.3rem;
}
.side-bar {
  background-color: var(--gray-bg);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid var(--line-color);
  max-height: 41rem;
}
.welcome-message {
  font-size: 1.7rem;
  margin: 2rem 0;
}
.side-bar-links {
  margin-top: 2rem;
  width: 100%;
  & p {
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1rem;
    border-radius: 0.5rem;
  }
}
.login {
  font-size: 1.5rem;
  cursor: pointer;
}
.link {
  width: 100%;
}
