.posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.search {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--line-color);
  background-color: var(--gray-bg);
}
